body, text, button {
    font-family: 'Lato';
}

.section {
    margin: 5%;
}

.x-axis path, .y-axis path {
    stroke: #ccc;
}

a {
    color: #FF2A92;
    transition: 0.2s ease all;
}

a:hover {
    color: black;
    transition: 0.2s ease all;
}
